body {
  background-color: rgb(104, 223, 83);
  background-image: url("../IMG/Code.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.headliner {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(208, 245, 75);
  text-align: center;
  border-radius: 8px;
  box-shadow: 4px 4px;
  color: rgb(10, 9, 9);
  width: 50%;
  margin: auto;
  justify-content: start;
}

@media all and (max-width: 800px) {
  .list-nav {
    flex-wrap: wrap;
  }

  .list-nav > li {
    flex-basis: 50%;
  }
}

.nav-bar {
  height: 90px;
  width: 100%;
  background-color: rgb(85, 79, 79);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
  border-radius: 8px;
}

nav ul {
  float: center;
  display: flex;
}

nav li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 40px;
}

nav li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  color: #d1bfbf;
  text-decoration: none;
}

h2 {
  background-color: rgb(208, 245, 75);
  border-radius: 8px;
  text-align: center;
  text-decoration: underline;
  box-shadow: 4px 4px;
}

.text {
  margin: 20px 10%;
  border: 5px solid #3f5fbd;
  padding: 3% 10%;
  border-radius: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  font-size: large;
  background: linear-gradient(0.25turn, #285264, #52a1a5, #b1cee4);
  box-shadow: 2px 2px;
}

.active {
  color: cornflowerblue;
}

.skillset {
  margin: 20px 10%;
  border: 5px solid #3f5fbd;
  padding: 3% 10%;
  border-radius: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  font-size: large;
  background: linear-gradient(0.25turn, #285264, #52a1a5, #b1cee4);
  box-shadow: 2px 2px;
  text-align: center;
  list-style: none;
}

.contact {
  border: 5px solid #3f5fbd;
  background: linear-gradient(0.25turn, #285264, #52a1a5, #b1cee4);
  box-shadow: 2px 2px;
  text-align: center;
  list-style: none;
}

.contact_2 {
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  font-size: large;
}
